<p-toast></p-toast>

<!-- selector de docente -->
<select [(ngModel)]="docenteSeleccionadoId" class="input w-full mb-4" name="docenteSeleccionadoId">
  <option [ngValue]="null">-- Selecciona docente --</option>
  <option *ngFor="let d of items()" [ngValue]="d.id">{{ d.nombres }} {{ d.apellidos }}</option>
</select>

<ul class="mt-4 space-y-2">
  <li
    *ngFor="let c of cursos()"
    class="flex justify-between items-center border border-slate-700 rounded px-3 py-2"
  >
    <span>
      <strong> {{ c.nivelDescripcion }} ({{ c.turno }}) </strong>
      ·
      {{ c.gradoDescripcion }} {{ c.seccionDescripcion }}
      ·
      {{ c.cursoDescripcion }}
    </span>

    <button type="button" class="btn btn-sm" (click)="asignarDocente(c)">Asignar docente</button>
  </li>
</ul>
