<!-- tiles -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
  <!-- Dashboard area: show admin or direccion based on roles -->
  <ng-container *ngIf="auth.isAuthenticated() && auth.roles().includes('Admin')">
    <app-dashboard-admin></app-dashboard-admin>
  </ng-container>
  <ng-container
    *ngIf="auth.isAuthenticated() && (auth.roles().includes('Direccion') || auth.roles().includes('Director'))">
    <app-dashboard-direccion></app-dashboard-direccion>
  </ng-container>
</div>
