<div class="p-4 w-max">
  <div *ngIf="loading()">Cargando métricas...</div>
  <div *ngIf="!loading() && error()" class="text-red-500">Error: {{ error() }}</div>
  <div *ngIf="!loading() && !error() && data()">
    <div class="card p-3">
      Total matrículas: {{ data()!.totalMatriculas }}
    </div>
    <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <h4 class="mb-2">Matriculas por nivel</h4>
        <div class="h-56">
          <apx-chart *ngIf="matriculasByNivelChart()" [series]="matriculasByNivelChart().series"
            [chart]="matriculasByNivelChart().chart" [labels]="matriculasByNivelChart().labels"
            [legend]="matriculasByNivelChart().legend"></apx-chart>
        </div>
      </div>

      <div>
        <h4 class="mb-2">Vacancias por nivel</h4>
        <div class="h-56">
          <apx-chart *ngIf="vacanciasChart()" [series]="vacanciasChart().series" [chart]="vacanciasChart().chart"
            [xaxis]="vacanciasChart().xaxis"></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
